.fw400 {
    font-weight: 400;
}

.fork {
    &-section {
        background-color: #4a3b4e;
        color: $text-color--light;
        padding-bottom: 1px;
    }

    &-heading {
        @include font28-700;
        text-align: center;
        padding-top: 14px;
        padding-bottom: 32px;
    }
}

.price-card {
    width: 85%;
    text-align: center;
    background: rgba(255, 255, 255, .11);
    margin: 0 auto;
    margin-bottom: 18px;

    &__heading,
    &__time,
    &__purchase {
        text-transform: uppercase;
    }

    &__heading {
        @include font24-400;
        padding: 38px 0;
        background: rgba(255, 255, 255, .06);
    }

    &__prise {
        @include font60-700;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    &__time {
        @include font14-400;
        position: relative;

        &::after {
            content: '';
            width: 60px;
            height: 5px;
            background-color: $prim-color;
            position: absolute;
            top: 52px;
            margin: 0 auto;
            right: 0;
            left: 0;
        }
    }

    &__bonus {
        @include font16-400;
        padding: 80px 8.7% 0;

        &--pad {
            padding-bottom: 18px;
        }
    }

    &__purchase {
        @include font15-400;
        color: $text-color--light;
        padding: 15px 38px;
        border-radius: 25px;
        background: rgba(255, 255, 255, .15);
        display: inline-block;
        margin-top: 36px;
        margin-bottom: 36px;
    }

    &--selected {
        background: rgba(70, 48, 72, 0.84);
        align-items: center;
        width: 100%;
        height: 560px;

        &>.price-card__heading {
            background: rgba(0, 0, 0, .11);
            padding: 46px 0;
        }

        &>.price-card__prise {
            @include font82-700;
            padding: 15px 0;
        }

        &>.price-card__time::after {
            content: '';
            top: 62px;
        }

        &>.price-card__bonus {
            padding: 90px 60px 36px;
        }

        &>.price-card__purchase {
            margin: 47px 0;
            padding: 18px 48px;
        }
    }
}

@include for-tablet {

    .fork {
        &-section {
            background-image: url(../img/fork-sabs-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding-bottom: 95px;
        }

        &-heading {
            @include font42-700;
            padding-top: 88px;
            padding-bottom: 40px;
        }
    }

    .prise-card__wraper-column {
        display: flex;
        width: 70%;
        column-gap: 25px;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .prise-card__wraper-column--selected {
        width: 80%;
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 25px;
        // margin-left: auto;
        // margin-right: auto;

        .price-card {
            width: 44%;
        }

        .price-card--selected {
            width: 56%;
        }
    }

    .price-card {
        margin: 0;

        &--selected {
            width: 85%;
        }
    }
}


@include for-desktop {

    .fork {
        &-section {
            background-image: url(../img/fork-sabs-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding-bottom: 60px;
        }

        &-heading {
            @include font48-700;
            padding-top: 80px;
            padding-bottom: 60px;
        }
    }

    .price-card__wraper {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    .prise-card__wraper-column {
        width: 46%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .prise-card__wraper-column--selected {
        width: 54%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}