.fork {
    &-section {
        background-color: #4a3b4e;
        color: $text-color--light;
        padding-bottom: 15px;
    }

    &-heading {
        @include font28-700;
        text-align: center;
        padding-top: 14px;
        padding-bottom: 32px;
    }
}

.price-card__wraper,
.price-card__wraper--cheap,
.price-card__wraper--expensive {

    width: 100%;
    @include flex-column;
    align-items: center;
    gap: 18px;
}

.price-card {

    width: 257px;
    text-align: center;
    background: rgba(255, 255, 255, .11);


    &__heading,
    &__time,
    &__purchase {
        text-transform: uppercase;
    }

    &__heading {
        @include font24-400;
        padding: 38px 0;
        background: rgba(255, 255, 255, .06);
    }

    &__price {
        @include font60-700;
        padding-top: 30px;
        padding-bottom: 20px;

        span {
            font-weight: 400;
        }
    }

    &__time {
        @include font14-400;
        position: relative;

        &::after {
            content: '';
            width: 60px;
            height: 5px;
            background-color: $prim-color;
            position: absolute;
            top: 52px;
            right: 50%;
            transform: translateX(50%);
        }
    }

    &__bonus {
        @include font16-400;
        padding: 80px 10px 0;

        &--pad {
            padding-bottom: 18px;
        }
    }

    &__support {
        @include font16-400;
    }

    &__purchase {
        @include font15-400;
        color: $text-color--light;
        padding: 15px 38px;
        border-radius: 25px;
        background: rgba(255, 255, 255, .15);
        display: inline-block;
        margin-top: 36px;
        margin-bottom: 36px;
    }

    &--selected {
        background: rgba(70, 48, 72, 0.84);
        align-items: center;
        width: 299px;
        height: 560px;

        &>.price-card__heading {
            background: rgba(0, 0, 0, .11);
            padding: 46px 0;
        }

        &>.price-card__price {
            @include font82-700;
            padding: 15px 0;
        }

        &>.price-card__time::after {
            content: '';
            top: 62px;
        }

        &>.price-card__bonus {
            padding: 90px 0 0;
        }

        &>.price-card__support {
            padding-bottom: 36px;
        }

        &>.price-card__purchase {
            margin: 47px 0;
            padding: 18px 48px;
        }
    }
}


@include for-tablet {

    .fork {
        &-section {
            background-image: url(../img/fork-sabs-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding-bottom: 95px;
        }

        &-heading {
            @include font42-700;
            padding-top: 88px;
            padding-bottom: 40px;
        }
    }

    .price-card__wraper {

        row-gap: 30px;

        &--cheap,
        &--expensive {
            @include flex-row--center;
            column-gap: 25px;

        }

        &--expensive {
            margin-right: 46px;
        }
    }
}

@media (min-width: 481px) and (max-width: 640px) {

    .price-card__wraper--expensive {

        margin-right: 1%;
    }

    .price-card {
        width: inherit;
        min-width: 210px;

        &--selected {
            width: inherit;
            min-width: 225px;
        }
    }
}


@include for-desktop {

    .fork {
        &-section {
            background-image: url(../img/fork-sabs-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding-bottom: 95px;
        }

        &-heading {
            @include font48-700;
            padding-top: 80px;
            padding-bottom: 60px;
        }
    }

    .price-card__wraper {
        @include flex-row--center;
        width: 90%;
        margin: 0 auto;
        gap: 15px;

        &--cheap,
        &--expensive {
            width: 100%;
            flex-direction: row;
            align-items: center;
            gap: 15px;
        }
    }
}

@media (min-width: 993px) and (max-width: 1179px) {

    .price-card {
        width: 100%;
        min-width: 210px;

        &--selected {
            width: 100%;
            min-width: 252px;
        }
    }
}