@mixin for-tablet {
    @media (min-width: 481px) and (max-width: 992px) {
        @content;
    }
}

@mixin for-desktop {
    @media (min-width: 993px) {
        @content;
    }
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-row--center {
    flex-direction: row;
    justify-content: center;

}

@mixin font12-600 {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
}

@mixin font14-400 {
    font-size: 14px;
    line-height: 20px;
}

@mixin font15-400 {
    font-size: 15px;
}

@mixin font16-400 {
    font-size: 16px;
    line-height: 18px;
}

@mixin font21-400 {
    font-size: 21px;
    line-height: 32px;
}

@mixin font24-400 {
    font-size: 24px;
}

@mixin font28-400 {
    font-size: 28px;
    line-height: 42px;
}

@mixin font32-700 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

@mixin font26-700 {
    font-size: 26px;
    font-weight: 700;
}

@mixin font28-700 {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
}

@mixin font42-700 {
    font-size: 42px;
    font-weight: 700;
    line-height: 44px;
}

@mixin font46-700 {
    font-size: 46px;
    font-weight: 700;
}

@mixin font48-700 {
    font-size: 48px;
    font-weight: 700;
}

@mixin font54-700 {
    font-size: 54px;
    font-weight: 700;
}

@mixin font60-700 {
    font-size: 60px;
    font-weight: 700;
}

@mixin font82-700 {
    font-size: 82px;
    font-weight: 700;
}